/* Not my css. this is a test */



body
{
  margin: 30px;
  font-family: 'Montserrat', sans-serif;	
  background-color: #1f2833;
  color: white;
  text-align: center;
  font-size: 25px;
  margin: 0 80px;
  
}

header{
	color: #FF379B;
}

h1 {
	font-family: 'Sacramento', cursive;
	font-size: 60px;
}

h3, ul {
	text-align: left;
}

a {
	text-decoration: none;
	text-align: left;
}

a:link {
	color: #FF379B;
}

/* Main */
main p {
  text-align: left;
}

main a:visited {
	color: #FF379B;
}
main a:hover {
	background-color: #7a7a7a;
	color: #FF379B;
}
main a:focus {
	outline: thin dotted;
}
main a:hover, main a:active {
	outline: 0;
}
li {
	margin: 10px 0;
}

/* Footer */
footer img{
  height: 31px;
  width: 88px;
}
footer a:visited {
	color: #FF379B;
}
footer a:hover {
	background-color: #7a7a7a;
	color: #FF379B;
}
footer {
  padding-top: 5px;
	width: 100%;
	height: 30px;
  font-size: 20px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  margin-top: -10px;
  letter-spacing: 2px;
  text-align: center;
}

footer a {
	color: #FF379B;
}
}
