/*

web115 css page. This will be my template for css stylesheets moving forward.


*/


body
{
 
  margin: 100px;
  font-family: Comic Sans MS;
  color: silver;
  background-color: blue;
  font-size: 100%;
}

